h1 {
    float: left;
    font-size: 30px;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 140px;
    margin-left: 10vw;
    margin-bottom: 40px;
    height: 38px;
}

article {
    width: 80vw;
    min-width: 333px;
    height: 1447px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 409px 510px 409px;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

article section {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    
}

article section.big {
    height: 409px;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr 460px;
    grid-template-rows: 409px;
    overflow: hidden;
}

article section.little {
    height: 510px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 255px);
    overflow: hidden;
}

article section picture {
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
}

article section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
article section.big img {
    border-radius: 30px 0px 0px 30px;
}
article section.little img {
    border-radius: 30px 30px 00px 0px;
}


article section:hover img {
    transition: 0.3s;
    filter: brightness(70%);
}

article section h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    width: 80%;
    height: 96px;
    margin-left: 10%;
}

article section h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-left: 10%;
    margin-bottom: 20px;
    align-self: end;
    width: 80%;
}

article section.big h2,
article section.big h3, 
article section.big button {
    grid-column: 2;
    grid-row: 1;
}
article section.big h2 {
    margin-top: 118px
}
article section.big button {
    margin-top: 234px;
}

article section.little h2,
article section.little h3,
article section.little button {
    grid-column: 1;
    grid-row: 2;
}

article section.little h2 {
    align-self: end;
    margin-bottom: 134px;
    height: auto;
}
article section.little button {
    margin-top: 136px;
}

button {
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    background-color: rgb(0, 113, 227);
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 194px;
    height: 56px;
    color: rgb(255, 255, 255);
    margin-left: 10%;
}

button:hover {
    transition: 0.3S;
    background-color: rgba(0, 113, 227, 0.649);
}

@media only screen and (max-width: 1500px) {
    article {
        grid-template-rows: repeat(4, 409px);
        height: 1816px;
    }
    article section.little {
        height: 409px;
        grid-column: 1 / span 2;

        display: grid;
        grid-template-columns: 1fr 460px;
        grid-template-rows: 409px;
        overflow: hidden;
    }
    article section.little h2,
    article section.little h3,
    article section.little button {
        grid-column: 2;
        grid-row: 1;
    }

    article section.little h2 {
        margin-top: 119px;
        
        align-self: start;
        margin-bottom: auto;
        height: 96px;
    }
    article section.little button {
        margin-top: 234px;
    }
    article section.big img, 
    article section.little img {
        border-radius: 30px 0px 0px 30px;
    }
}

@media only screen and (max-width: 1250px) {
    article section.little, 
    article section.big {
        grid-template-columns: 1fr 1fr;
    }
    article section.little h2, 
    article section.big h2 {
        font-size: 30px;
        height: 76px;
        margin-top: 134px;
    }
    article section.little button,
    article section.big button {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 855px) {
    h1 {
        font-size: 20px;
        height: 28px;
        margin-top: 120px;
        margin-bottom: 30px;
    }
    article {
        grid-template-rows: repeat(4,510px);
        height: 2220px;
    }
    article section.little, 
    article section.big {
        height: 510px;

        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(2, 255px) ;
        overflow: hidden;
    }
    article section.little h2,
    article section.little h3,
    article section.little button,
    article section.big h2,
    article section.big h3,
    article section.big button  {
        grid-column: 1;
        grid-row: 2;
    }

    article section.little h2,
    article section.big h2 {
        align-self: end;
        margin-bottom: 134px;
        height: auto;
        width: 85%;
    }
    article section.little button,
    article section.big button {
        margin-top: 131px;
    }
    article section.big img, 
    article section.little img {
        border-radius: 30px 30px 0px 0px;
    }
}